<div class="container ps-3 pe-3 pt-4 pb-4">
  <h3 class="text-verde200 fw-bold mb-3">Contrato</h3>
  <p class="subtitle"><b>Tipo de contrato</b></p>
  <p>Aqui você encontra informações sobre o seu contrato em parceria com a Klabin.</p>
  
  <p><b class="label-block">Formato de contrato:</b> Formato</p>

  <p><b class="label-block">Preço:</b> R$ 0,00 a tonelada + 0% da correção de juros.</p>

  <div class="flex-wrap">
    <p><b class="label-block">Data de encerramento:</b> 00/00/0000</p>
    <p><b class="label-block">Prazo de carência:</b> -</p>
  </div>

  <p><b class="label-block">Baixa do contrato:</b> Nenhuma baixa feita</p>

  <div class="flex-wrap">
    <p><b class="label-block">Data de vencimento:</b> 00/00/0000</p>  
    <p><b class="label-block">Auditivo de prorrogação:</b> 00/00/0000</p>
  </div>

  <p><b class="label-block">Estimativa de produtividade da área:</b> 0 ton/mês</p>
</div>