@font-face {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: normal;
  src: local("Frutiger"), url("../assets/fonts/Frutiger LT 55 Roman.woff") format("woff");
}

@font-face {
  font-family: "FrutigerBold";
  font-style: normal;
  font-weight: normal;
  src: local("FrutigerBold"), url("../assets/fonts/Frutiger LT 65 Bold.woff") format("woff");
}
