<section class="container ps-3 pe-3 pt-4 pb-4">
  <h3 class="text-verde200 fw-bold mb-3">Cadastro</h3>
  <p class="fw-bold">
    Efetue o seu cadastro para acessar as informações sobre os seus negócios com
    a Klabin:
  </p>
  <div class="cadastro-form">
    <form [formGroup]="cadastroForm" (ngSubmit)="submitCadastroForm()">
      <div class="mb-2">
        <label for="cpfcnpj" class="form-label fw-bold">CPF/CNPJ</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': validaCampo('cpfcnpj') }"
          formControlName="cpfcnpj"
          mask="CPF_CNPJ"
          maxlength="18"
        />
        <div class="invalid-feedback small">CPF ou CNPJ inválidos</div>
      </div>
      <div class="mb-2">
        <label for="password" class="form-label fw-bold">Senha</label>
        <div class="input-group">
          <input
            [type]="pass1"
            class="form-control"
            [ngClass]="{ 'is-invalid': validaCampo('password') }"
            formControlName="password"
          />
          <span class="input-group-text">
            <i
              *ngIf="pass1 === 'password'"
              class="fa fa-eye-slash"
              (click)="showPass('pass1')"
            ></i>
            <i
              *ngIf="pass1 === 'text'"
              class="fa fa-eye"
              (click)="showPass('pass1')"
            ></i>
          </span>
          <span class="invalid-feedback small">
            Mínimo de 6 caracteres
          </span>
        </div>
      </div>
      <div class="mb-2">
        <label for="password2" class="form-label fw-bold"
          >Confirmar Senha</label
        >
        <div class="input-group">
          <input
            [type]="pass2"
            class="form-control"
            [ngClass]="{ 'is-invalid': validaCampo('passwordcheck') }"
            formControlName="passwordcheck"
            aria-describedby="eye1"
          />
          <span class="input-group-text" id="eye1">
            <i
              *ngIf="pass2 === 'password'"
              class="fa fa-eye-slash"
              (click)="showPass('pass2')"
            ></i>
            <i
              *ngIf="pass2 === 'text'"
              class="fa fa-eye"
              (click)="showPass('pass2')"
            ></i>
          </span>
          <div class="invalid-feedback small">A confirmação não confere</div>
        </div>
      </div>
      <div class="mb-2">
        <label for="mail" class="form-label fw-bold">Email</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': validaCampo('mail') }"
          formControlName="mail"
        />
        <div class="invalid-feedback small">E-mail inválido</div>
      </div>
      <label class="form-label fw-bold">&nbsp;</label>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-laranja200 text-white"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <i *ngIf="!loading" class="fa fa-user-plus" aria-hidden="true"></i>
          <span> CADASTRAR</span>
        </button>
      </div>
    </form>
  </div>
</section>
