<div class="container ps-3 pe-3 pt-4 pb-4">
  <h3 class="text-verde200 fw-bold">Entrega de Madeira</h3>
  <p class="fw-bold">Tipo de contrato</p>
  <p>Aqui você encontra informações sobre a entrega de madeira negociada com a Klabin.</p>
  
  <p><span class="fw-bold">Material:</span> Material</p>
  <p><span class="fw-bold">Programação semanal:</span> 0,00 ton</p>
  <p><span class="fw-bold">Volume contratado:</span></p>
  <app-wood-delivery-table [deliveries]="deliveries"></app-wood-delivery-table>
</div>